@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto+Serif:wght@800&display=swap");

:root {
  font-size: 16px;

  --background-color: #0b0c0d;
  --text-color: white;
  --primary-color: #00ff55;

  --font-1: "Open Sans", sans-serif;
  --font-2: "Times New Roman", serif;
  --font-3: monospace;

  --big-text: 2.8rem;
  --medium-text: 1.3rem;
  --small-text: 1rem;

  --padding: 1rem;
  --radius: 0.3rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: white;

  display: flex;
  flex-direction: row;
  align-items: top;
  padding: calc(var(--padding) * 7);
  padding-right: calc(var(--padding) * 5);
}
input {
  padding: calc(var(--padding) * 0.7);
  border: 0.1rem solid var(--primary-color);
  border-radius: var(--radius);
  outline: none;
  margin-bottom: var(--padding);

  font-family: var(--font-3);
  font-size: var(--medium-font);

  color: var(--primary-color);
  background-color: var(--background-color);
  width: 100%;
}
button {
  padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.8);
  font-size: var(--small-text);
  font-family: var(--font-3);
  font-weight: bold;

  color: var(--background-color);
  background-color: var(--primary-color);

  border: none;
  border-radius: var(--radius);

  transition: all 0.3s;
}
button:hover {
  transform: translate(0, -0.2rem);
}
button:focus {
  transform: translate(0, 0.1rem);
}
label {
  font-family: var(--font-3);
  font-size: var(--small-text);
  padding-right: var(--padding);
  white-space: nowrap;
}
p {
  padding: 0px;
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
.col {
  display: flex;
  flex-direction: column;
}
#left-container {
  width: 30%;
  padding-right: var(--padding);
}

#left-top {
  padding-bottom: calc(var(--padding) * 3);
}
#header-text {
  font-family: var(--font-2);
  font-size: var(--big-text);
  padding-bottom: calc(var(--padding) * 0.5);
}
#sub-header-text {
  font-family: var(--font-1);
  font-size: var(--medium-font);
}

#left-bottom {
  line-height: 2rem;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;

  border: solid var(--primary-color) 0.1rem;
  border-radius: var(--radius);
  width: 1rem;
  height: 1rem;
  padding: calc(var(--padding) * 0.5);

  flex: 0;
}
.checkbox:checked {
  background-color: var(--primary-color);
  color: white;
}
#file-input {
  border: none;
  padding: 0px;
  margin: var(--padding) 0;
}
#recreate-button {
  margin-right: var(--padding);
}
#image-container {
  margin-top: var(--padding);
}

/*---------------------------------*/

#right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: calc(var(--padding) * 0.5);
  overflow-y: scroll;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

#contact-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;

  font-family: var(--font-3);
}
#contact-container a {
  text-decoration: none;
  color: gray;
  font-family: var(--font-3);
  font-size: var(--small-text);
  padding: var(--padding);
  transition: all 0.2s;
}
#contact-container a:hover {
  transform: translate(0, -0.2rem);
}
#contact-container #twitter:hover {
  color: #00acee;
}
#contact-container #github:hover {
  color: #67eb34;
}
